<p id="notice"><%= notice %></p>

<h1>Solicitacoes</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Produto</th>
      <th>Quantidade solicitada</th>
      <th>Quantidade fornecida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitacoes.each do |solicitacao| %>
      <tr>
        <td><%= solicitacao.usuario %></td>
        <td><%= solicitacao.produto %></td>
        <td><%= solicitacao.quantidade_solicitada %></td>
        <td><%= solicitacao.quantidade_fornecida %></td>
        <td><%= link_to 'Show', solicitacao %></td>
        <td><%= link_to 'Edit', edit_solicitacao_path(solicitacao) %></td>
        <td><%= link_to 'Destroy', solicitacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitacao', new_solicitacao_path %>
