<!DOCTYPE html>
<html>
  <head>
    <title>Avlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



    <% if usuario_signed_in? %>
    <div class="row">
      <nav class="navbar navbar-inverse">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">AV Logística</a>
         </div>
         <div class="collapse navbar-collapse" id="myNavbar">
           <ul class="nav navbar-nav">
             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastros
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Produtos', produtos_path %></li>
                <li><%= link_to 'Setores', setores_path %></li>
              </ul>
            </li>

             <li><a href="#">Aquisição</a></li>
             <li><a href="#">Solicitação</a></li>
             <li><a href="#">Relatórios</a></li>
             <li><a href="#">Administração</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">

              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Usuário: <%= current_usuario.email %></a></li>
              <%= link_to destroy_usuario_session_path, method: :delete do %> <i class="fa fa-sign-out"></i> Sair <%end%>

           </ul>
         </div>
       </div>
      </nav>
    </div>
    <% end %>
    <% if notice || alert %>
    <div class="row">
      <div class="col-md-12">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <% end %>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8"><%= yield %></div>
      <div class="col-md-2"></div>
    </div>

  </body>
</html>
